
body {
	background-color: transparent;
}
header {
	background-color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

.container {
	max-width: 980px;
	text-align: center;
	margin: 20px auto;
}

#panel {
	position: fixed;
	padding:0;
	margin:0;
	background-color: rgb(237,240,241);
	top:0;
	left:0;

	width: 100%;
	height: 100vh;

	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	z-index: 100; /* Just to keep it at the very top */
}

h1 {
	margin-bottom: 20px;
}


#address {
	border-radius: 3px;
}

.input-group {
	margin-left: 4%;
}

.glyphicon {
	font-size: 18px;
	z-index: 20;
	cursor: pointer;
}

.glyphicon-search,
.glyphicon-arrow-right {
	position: relative;
	right: 30px;
}

.current-location {
	margin-top: 30px;
}

#save-location {
	display: inline;
	margin: 10px auto;
	line-height: 1.4;
}

.current-location .glyphicon-star, 
.current-location .glyphicon-star-empty {
	display: inline-block;
	margin-left: 10px;
	font-size: 22px;
	vertical-align: text-bottom;
}

.glyphicon-menu-right {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -9px;
}

.map-holder {
	max-width: 500px;
	height: 350px;
	margin: 0 auto;
	background-color: #FCFCFC;
	position: relative;
	border-radius: 2px;
}

.map-holder p {
	position: absolute;
	width: 84px;
	height: 22px;
	left: 50%;
	top: 50%;
	margin: -11px auto 0 -42px;
	font-size: 20px;
	color: #969FA8;
}

#map {
	max-width: 500px;
	height: 350px;
	margin: 0 auto;
}

.list-group {
	padding: 0 15px;
}

.menu-list {
	padding: 0;
	color: #2c3e50;
}

.menu-list:hover {
	background-color: transparent;
	color: #2c3e50;
}

.list-group-item {
	position: relative;
	padding: 10px 20px;
}

a.list-group-item {
	cursor: pointer;
}

a.list-group-item:hover, a.list-group-item:focus {
	background-color: transparent;
	color: #2c3e50;
}

a.active-location {
	background-color: #EEF6FF;
}

a.active-location:hover {
	background-color: #EBF3FC;
}

a.list-group-item span.createdAt {
	display: block;
	color: #969FA8;
	z-index: -1;
}

.menu-list-heading {
	background-color: transparent;
	border: none;
	font-size: 3em;
	font-family: monospace;
	height: 160px;
	background-color: rgb(11,166,116);
}

.menu-list-item {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-color: transparent;
	height: 50px;
	width: 100%;
	font-size: 1.5em;
	font-style: initial;
	background-color: rgba(169,169,169,0);
	border-bottom: lightgray;
}

a.list-group-item {
	color: #FFFFFF;
}

.heading-apollon{
	color:rgb(11,166,116);
	font-family: "Bauhaus 93";
	text-align: center;
}

.header-container {
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
}
.solientry{
	display: block;
	background-color: #969FA8;
}
.panel-body {
	padding: 0;
}
.artist-name {
	font-family: monospace;
	font-size: 1.4em;
	/*word-wrap: break-word;*/
	text-overflow: ellipsis;

	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
}
.song-name {
	font-size: 1.2em;
	/*word-wrap: break-word;*/
	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow-x: hidden;
	text-align: left;
}
.artist-current {
	font-family: monospace;
	font-size: 1.3em;
	/*word-wrap: break-word;*/
	text-overflow: ellipsis;

	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	padding-left: 10px;
}
.song-current {
	font-size: 1.0em;
	/*word-wrap: break-word;*/
	text-overflow: ellipsis;
	/* Required for text-overflow to do anything */
	white-space: nowrap;
	overflow-x: hidden;
	text-align: left;
	padding-left: 10px;
}
.smalltext{
	font-size:0.7em;
}

.center {
    margin: auto;
}

.no-padding {
	padding: 0;
}

.logo-img {
	height: 45px;
	width: 60%;
	padding-top: 10px;
	padding-left: 60px;
}

.height-full {
	height: 100%;
}

#scrollcontainer {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	width: 100%;
}

.apollon-button, .apollon-button:focus, .apollon-button:active {
	background-color: rgb(11,166,116);
	color: #FFFFFF;
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
	outline: none;
}




